.form {
  max-width: 28rem;
}

.companies .list-group-item {
  display: flex;
}

.companies .list-group-item .image {
  width: 100px;
}

.companies .list-group-item .image img {
  max-width: 80px;
  max-height: 80px;
}
