<template name="pfofile_badge">
	{{#if currentUser}}
	<fieldset>
		{{>thumbnail
			url=currentUser.profile.personal.avatar
		}}
		<div>
			{{name}}
		</div>
		<a href={{pathFor 'profile.personal'}} class='js-edit'>Настройка профиля</a>
		<a href={{pathFor 'auth.index'}} class='js-exit'>Выход</a>
	</fieldset>
	{{else}}
		<fieldset>
			<a href={{pathFor 'auth.signin'}} class='js-signIn'>Войти</a>
			<a href={{pathFor 'auth.signup'}} class='js-signUp'>Зарегистрироваться</a>
		</fieldset>
	{{/if}}
</template>