<template name="sidebar">
	<ul class="list-group">
		<li class="list-group-item">
			{{>sidebar_brand}}
		</li>
		<li class="list-group-item">
			{{>sidebar_item title="Vacancies" href="/vacancies" src="/svg/vacancies.svg"}}
		</li>
		<li class="list-group-item">
			{{>sidebar_item title="Companies" href="/companies" src="/svg/vacancies.svg"}}
		</li>
		<li class="list-group-item">
			{{>sidebar_item title="Specialists" href=(pathFor 'users') src="/svg/vacancies.svg"}}
		</li>
	</ul>
</template>